.cards{
  border: 2px solid black;
  max-width: 23vw;

}

.container{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

nav,ul{
  display: flex;
  gap: 20px;
  padding: 12px 3px;
  background-color: beige;
}
*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}